asgiref==3.7.2
beautifulsoup4==4.12.2
contourpy==1.1.0
cycler==0.11.0
dj-database-url==2.1.0
Django==4.2.4
django-bootstrap5==23.3
et-xmlfile==1.1.0
fonttools==4.40.0
gunicorn==21.2.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.25.2
matching @ git+https://github.com/umarhunter/matching@main
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
pip==23.2.1
plotly==5.15.0
psycopg2==2.9.6
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
setuptools==68.1.2
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.4
tenacity==8.2.2
typing_extensions==4.7.1
tzdata==2023.3
wheel==0.41.2
whitenoise==6.5.0
