asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1685243452975/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
contourpy==1.1.0
cycler==0.11.0
dj-database-url @ file:///home/conda/feedstock_root/build_artifacts/dj-database-url_1692119547398/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1692790914821/work
django-bootstrap5 @ file:///home/conda/feedstock_root/build_artifacts/django-bootstrap5_1686162285918/work
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
fonttools==4.40.0
gunicorn==21.2.0
kiwisolver==1.4.4
matching @ file:///home/conda/feedstock_root/build_artifacts/matching_1626813686622/work
matplotlib==3.7.1
numpy @ file:///D:/bld/numpy_1691056524419/work
openpyxl @ file:///D:/bld/openpyxl_1682610928399/work
packaging==23.1
pandas==2.0.3
Pillow @ file:///D:/bld/pillow_1688255919575/work
plotly==5.15.0
psycopg2 @ file:///D:/bld/psycopg2-split_1688999239030/work
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1681817562700/work
tenacity==8.2.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata==2023.3
whitenoise @ file:///home/conda/feedstock_root/build_artifacts/whitenoise_1686933972273/work
