<!DOCTYPE html>
<html lang="en">
{% extends 'what_a_match/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Stable Marriage Matching</title>
</head>
{% block page_header %}
  <h2>SM Matching</h2>
{% endblock page_header %}

{% block content %}
<body>
<br>
<h4>Initialization</h4><hr>

<div class="align">
<h5>Now enter preferences of the suitor's <b>separated by a comma.</b> Otherwise it won't work.</h5> <i>Please note: What-A-Match will fill in missing preferences on your behalf, this is to prevent any bugs.</i>
<br>
<hr>
<h5><b><u>Suitors</u></b></h5>
{% for suitor in suitors %}
    <p>{{ suitor }}</p>
{% endfor %}

<form action="{% url 'match:sm_matching' %}" method="post">
    {% csrf_token %}
    {{ formset.as_p }}
    <input type="submit" value="Submit">
</form>

<br>
<b>Here are the list of reviewers (for your reference)</b>
{% for reviewer in reviewers %}
    <p>{{ reviewer }}</p>
{% endfor %}


<br>
</div>
</body>
    <style>.align{ text-align: center; }</style>
{% endblock content %}
</html>
