<!DOCTYPE html>
<html lang="en">
{% extends 'what_a_match/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Stable Marriage Matching</title>
</head>
{% block page_header %}
  <h2>SM Matching</h2>
{% endblock page_header %}

{% block content %}
<body>

<br><h4>Initialization</h4><hr>
<div class ='suitors'>
<h5>Enter the names of all suitors to be matched</h5>
<br>
<h5><b>Suitors</b></h5>
<form action="{% url 'match:sm_matching_suitors' %}" method="post">
    {% csrf_token %}
        {{ suitors.management_form }}
        {{ suitors.as_p }}
    <input type="submit" value="Submit">
</form>
</div>
<style>.suitors{ text-align: center; }</style>
</body>
{% endblock content %}
</html>
