<!DOCTYPE html>
<html lang="en">
{% extends 'what_a_match/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Stable Marriage Matching</title>
</head>
{% block page_header %}
  <h2>SM Matching</h2>
{% endblock page_header %}

{% block content %}
<body>
<hr><h4>Initialization</h4>
<h5>Now enter their preferences <b>separated by a comma.</b> Otherwise it won't work.</h5>
<br>

<form action="{% url 'match:sm_matching' %}" method="post">
    {% csrf_token %}
<b>Suitors</b>
{% for suitor in suitors %}
    <ul>{{ suitor | safe }}</ul>
    {{  formset.as_p }}
{% endfor %}


<br>
<b>Reviewers</b>
{% for reviewer in reviewers %}
    <ul>{{ reviewer | safe }}</ul>
{% endfor %}

    <input type="submit" value="Submit">
</form>

<br>
</body>
{% endblock content %}
</html>
