<!DOCTYPE html>
<html lang="en">
{% extends 'what_a_match/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Stable Marriage Matching</title>
</head>
{% block page_header %}
  <h2>SM Matching</h2>
{% endblock page_header %}

{% block content %}
<body>
<div class="align">
<br><h4>Initialization</h4><hr>
<h5>Now enter the preferences of the reviewer's <b>separated by a comma.</b> Otherwise it won't work.</h5> <i>Please note: What-A-Match will fill in missing preferences on your behalf, this is to prevent any bugs.</i>
<hr>
<br>

<h5><b><u>Reviewers</u></b></h5>

<form action="{% url 'match:sm_matching_1' %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for reviewer, form in reviewers_forms %}
        <p><b>{{ reviewer }}</b>'s: {{ form.preferences.label_tag }} {{ form.preferences }}</p>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

<br>
<b>Here are the list of suitors (for your reference)</b>
{% for suitor in suitors %}
    <p>{{ suitor }}</p>
{% endfor %}

<br>
</div>
</body>
    <style>.align{ text-align: center; }</style>
{% endblock content %}
</html>
