<!DOCTYPE html>
<html lang="en">
{% extends 'what_a_match/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Stable Roommate Matching</title>
</head>
{% block page_header %}
  <h2>SR Matching</h2>
{% endblock page_header %}

{% block content %}
<body>
<br>
<h4>Initialization</h4><hr>
<div class="align">
<br>
<h5>Enter all suitors to be matched</h5>
<br>
<h5><b>Suitors</b></h5>
<form action="{% url 'match:sr_matching_roommates' %}" method="post">
    {% csrf_token %}
        {{ sr_suitors.management_form }}
        {{ sr_suitors.as_p }}
    <input type="submit" value="Submit">
</form>
<br>
<br>
</div>
</body>
    <style> .align{ text-align: center; }</style>

{% endblock content %}
</html>
