<!DOCTYPE html>
<html lang="en">
{% extends 'what_a_match/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Stable Marriage Matching</title>
</head>
{% block page_header %}
  <h2>SM Matching</h2>
{% endblock page_header %}

{% block content %}
<body>
<br><h4>Initialization</h4><hr>
<div class="align">
<h5>Now enter the preferences of each roommate, <b>separated by a comma.</b> Otherwise it won't work.</h5> <i>Please note: What-A-Match will fill in missing preferences on your behalf, this is to prevent any bugs.</i>
<hr>
<br>
<b>Roommates :D</b>
<form action="{% url 'match:sr_prefs' %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}

    {% for roommate, form in roommates_forms %}
        <p><b>{{ roommate }}</b>'s: {{ form.preferences.label_tag }} {{ form.preferences }}</p>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

<br>
<b>Here are the list of all roommates (for your reference)</b>
{% for roomie in roommates %}
    <p>{{ roomie }}</p>
{% endfor %}

</div>
<br>
</body>
    <style>.align{ text-align: center; }</style>
{% endblock content %}
</html>
