<!DOCTYPE html>
<html lang="en">
{% extends 'what_a_match/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Stable Rooommate</title>
</head>
{% block page_header %}
  <h2>Stable Roommate</h2>
{% endblock page_header %}

{% block content %}
<body>
<p>
    The stable roommates problem involves a single set of even cardinality n, each member of which ranks all the others in order of preference.
    A stable matching is now a partition of this single set into n^2 pairs so that no two unmatched members both prefer each other to their
    partners under the matching. In this case, there are problem instances for which no stable matching exists. However,
    Irving's paper describes an O(n^2) algorithm that will determine, for any instance of the problem, whether a stable matching exists,
    and if so, will find that matching.
</p>
<h5><b>Set A</b> (only single set needed for the SR problem)</h5>
<table>
    {% for suitor,prefs in suitor_prefs_dict.items %}
        <tr>
            <th>{{suitor}}</th>
            <td>{{prefs}}</td>
        </tr>
    {% endfor %}
    </table>
<br>

{# results #}
<br>
<h5><b>Results</b></h5>
<table class="border-bottom pb-2 mb-4 list-group-item border-0">
    {% for match,partner in results.items %}
      <tr>
          <td><b>{{match}}</b> matched with <b>{{partner}}</b></td>
      </tr>
    {% empty %}
      <li class="list-group-item border-0">No existing matchings could be made.</li>
    {% endfor %}
</table>

<h4>Try it yourself!</h4>
<form action="{% url 'match:stable_marriage' %}" method='post'>
    {% csrf_token %}
    <p>Start by entering the total number of people being matched (from both sets):</p>
    {{ int_form.as_div }}
    <input type="submit" value="Submit">
</form>
<br><br>
<br>
<hr>

<p>[*] Robert W. Irving, "An efficient algorithm for the “stable roommates” problem",
    Journal of Algorithms, Volume 6, Issue 4, 1985, Pages 577-595</p>
</body>
{% endblock content %}
</html>