<!DOCTYPE html>
<html lang="en">
{% extends 'what_a_match/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Stable Marriage</title>
</head>
{% block page_header %}
  <h2>Stable Marriage</h2>
{% endblock page_header %}

{% block content %}
<body>
<p> Gale and Shapley's stable matching algorithm addresses the
    problem of forming stable pairs in situations where individuals have preferences over one another.
    The algorithm proceeds through a series of rounds, where each unengaged individual proposes to their most preferred available partner,
    and each engaged individual holds on to the best proposal received. This process iterates until no further improvements are possible. The resulting matchings are stable because, at the end,
    no individual has an incentive to break their current pairing for an alternative one.
    This algorithm has widespread applications, from matchmaking in dating platforms to solving complex scenarios like job placements, where maintaining stability and fairness in partnerships is crucial.</p>

<hr><h4>Initialization</h4>
<h5><b>Set A</b> (this is the <i>first</i> set for the SM problem)</h5>
<table>
    {% for suitor,prefs in suitor_prefs_dict.items %}
        <tr>
            <th>{{suitor}}'s preferences: </th>
            <td>{{prefs}}</td>
        </tr>
    {% endfor %}
    </table>
<br>
<h5><b>Set B</b> (this is the <i>second</i> set for the SM problem)</h5>
<table>
    {% for suitor,prefs in reviewer_prefs_dict.items %}
        <tr>
            <th>{{suitor}}'s preferences: </th>
            <td>{{prefs}}</td>
        </tr>
    {% endfor %}
    </table>
<hr>

{# results #}
<h4><b>Results</b></h4>
<table class="border-bottom pb-2 mb-4 list-group-item border-0">
    {% for match,partner in results.items %}
      <tr>
          <td><b>{{match}}</b> matched with <b>{{partner}}</b></td>
      </tr>
    {% empty %}
      <li class="list-group-item border-0">No existing matchings could be made.</li>
    {% endfor %}
</table>

[*] Gale, D., and L. S. Shapley. “College Admissions and the Stability of Marriage.” The American Mathematical Monthly, vol. 69, no. 1, 1962, pp. 9–15. JSTOR, https://doi.org/10.2307/2312726.<br>
</body>
{% endblock content %}
</html>
